/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/


#home-nav {
    margin-bottom: 0;
}

.carousel-inner {
    width: 100%;
    max-height: 500px !important;
}

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    -ms-background-position: center;
    background-position: center;
    -ms-background-size: cover;
    background-size: cover;
}


#bg-color-grey {
    background-color: silver;
    padding: 50px;
    margin-top: 15px;
}

.content-boxes > span {
    float: left;
    color: #999;
    width: 50px;
    height: 50px;
    padding: 11px;
    font-size: 22px;
    background: #eee;
    line-height: 28px;
    text-align: center;
    margin-right: 15px;
    display: inline-block;
    border-radius: 33% !important;
}

.content-boxes > span:hover {
    border-radius: 33% !important;
    color: white;
    background-color: skyblue;
}

.content-boxes p {
    text-align: justify;
}

#title-container {
    padding-bottom: 25px;
}

#grey-container {
   padding-left: 0;
   padding-right: 0;
}

#trust-carl {
    font-size: 40px;
}

#bg-color-grey li {
    font-size: 18px;
    list-style-type: none;
    padding: 5px 0;
}

#bg-color-grey ul {
    padding: 0;
}

#bootstrap-select-container {
    margin: 15px auto;
}

.calendar-today {
    border-bottom: 5px solid black;
}

#about-img {
     border-radius: 25px;
}

#about-txt {
    margin-top: 50px;
}

.About-container {
    margin-top: 100px;
}


.green-ok {
    color: limegreen;
    margin-right: 15px;
}
