@model int

@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Административни дейности</div>
                <ul class="list-group">
                    <li class="list-group-item">@Html.ActionLink("Изпрати покана", "Invite", new { id = Model })</li>
                </ul>
            </div>
        </div>
    </div>
</div>